<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>
            Proident veniam culpa qui proident anim. Pariatur sint ad minim mollit cupidatat nostrud veniam do excepteur nostrud voluptate. Enim magna aliquip sit consectetur cupidatat officia. Nisi elit duis eiusmod ea tempor dolore exercitation elit. Proident esse irure proident aliqua esse proident laborum. Cupidatat eu esse ad excepteur ea Lorem in cillum fugiat anim. Qui dolor proident irure culpa anim. Ad non ut ullamco enim consequat Lorem aliqua nulla irure ipsum culpa ut. Est aliquip magna aliquip sit commodo eu excepteur. Est ex consequat est ex proident ullamco proident. Anim esse velit id nostrud duis ullamco laborum anim pariatur.</p>
        <p>
            Proident veniam culpa qui proident anim. Pariatur sint ad minim mollit cupidatat nostrud veniam do excepteur nostrud voluptate. Enim magna aliquip sit consectetur cupidatat officia. Nisi elit duis eiusmod ea tempor dolore exercitation elit. Proident esse irure proident aliqua esse proident laborum. Cupidatat eu esse ad excepteur ea Lorem in cillum fugiat anim. Qui dolor proident irure culpa anim. Ad non ut ullamco enim consequat Lorem aliqua nulla irure ipsum culpa ut. Est aliquip magna aliquip sit commodo eu excepteur. Est ex consequat est ex proident ullamco proident. Anim esse velit id nostrud duis ullamco laborum anim pariatur.</p>
        <p>
            Proident veniam culpa qui proident anim. Pariatur sint ad minim mollit cupidatat nostrud veniam do excepteur nostrud voluptate. Enim magna aliquip sit consectetur cupidatat officia. Nisi elit duis eiusmod ea tempor dolore exercitation elit. Proident esse irure proident aliqua esse proident laborum. Cupidatat eu esse ad excepteur ea Lorem in cillum fugiat anim. Qui dolor proident irure culpa anim. Ad non ut ullamco enim consequat Lorem aliqua nulla irure ipsum culpa ut. Est aliquip magna aliquip sit commodo eu excepteur. Est ex consequat est ex proident ullamco proident. Anim esse velit id nostrud duis ullamco laborum anim pariatur.</p>       
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>